@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300i,400,400i|Open+Sans:400,400i,600');
            body{
                font-family: "Josefin Sans", sans-serif;
                position: relative;
            }
            h1, h2, h3, h4, h5, h6 {
                font-family: "Josefin Sans", sans-serif;
                font-weight: 400;
                margin: 0;
            }

            .navbar-default{
                background-color: gray;
                height: 70px;
            }
            .navbar-default .navbar-brand{
                color: white;
                font-size: 26px;
                margin-top: 10px;
                font-weight: 600;
            }
            .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
                color: white;
                background-color: transparent;
            }
            header .navbar-default .navbar-nav li a{
                margin-top: 10px;
                font-size: 20px;
                color: white;
            }
            header .navbar-default .navbar-nav .active a{
                background-color: gray;
                border-bottom: 4px solid whitesmoke;
                color: cornsilk;
            }
            header .navbar-default .navbar-nav .active a:hover{
                background-color: gray;
                border-bottom: 4px solid whitesmoke;
            }
            .page{
                padding: 80px 0;
            }
            .page h3{
                text-align: center;
                margin-bottom: 30px;
            }
            hr.styl{
                background-color: cornflowerblue;
                height: 3px;
                border-radius: 2px;
                width: 75%;
            }
            .page p{
                font-family: "Josefin Sans", sans-serif;
                font-weight: 200;
                color: #888888;
                margin-top: 20px;
                font-size: 16px;
                text-align: center;
            }
            .page p.desig{
                font-size: 20px;
                font-weight: 600;
                font-family: "Open Sans", sans-serif;
                text-align: center;
            }
            section.portfoli img{
                width: 350px;
                height: 200px;
                margin-bottom: 10px;
            }
            footer{
                background-color: gray;
                color: white;

            }
            footer .footer-body{
                padding-top: 50px;
                text-align: center;
            }
            footer span a{
                color: white;
                font-size: 16px;
                font-weight: 200;
                text-decoration: none;
            }
            footer span a:hover{
                color: background;
                text-decoration: none;
            }
            footer .img-footer{ 
                height: 30px;
                width: 30px;
                color: whitesmoke;
                border: 1px solid whitesmoke;
                border-radius: 20px;
                margin: -11px;
            }
            footer .img-footer:hover{ 
                border: 2px solid white; 
            }
            footer p.licence{
                text-align: center;
                padding-top: 10px;
                padding-bottom: 10px;
            }
            footer p{
                margin: 0;
            }
            footer i.icon{
                display: block;
            }
            footer .btn-social {
                display: inline-block;
                height: 35px;
                width: 35px;
                border: 2px solid white;
                border-radius: 100%;
                text-align: center;
                font-size: 20px;
                line-height: 30px;
            }
            footer .btn-outline {
                color: white;
                font-size: 20px;
                border: solid 2px white;
                background: transparent;
                transition: all 0.3s ease-in-out;
                margin-top: 10px;
            }
            footer .btn-outline:hover,
            .btn-outline:focus,
            .btn-outline:active,
            .btn-outline.active {
                color:lightskyblue;
                background: white;
                border: solid 2px white;
            }
            @media only screen
            and (max-width: 768px) {
                header .navbar-collapse.in {
                    background-color: gray;
                }
            }
